.toolbar {
    position: fixed;
    top: 1em;
    right: 2em;
    z-index: 5;
    border-radius: 1em;
    padding: 1em;
    border: 1px solid gainsboro;
    background-color: white;
    text-align: center;
    transition: 0.2s ease-in-out;
}

.stopTracking {
    position: fixed;
    top: 1em;
    right: 2em;
    z-index: 10;
    width: 148px;
    transition: 0.4s ease-in-out;
}

.hidden {
    right: -30em;
}

.iframeWrapper {
    position: absolute;
    inset: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.iframe {
    width: 100vw;
    height: 100vh;
    border: none;
}

.urlForm {
    margin-bottom: 1em;
}

.urlInput {
    width: 200px;
    padding: 0.5em;
    font-size: 1em;
}

.urlButton {
    margin-left: 1em;
    padding: 0.5em 1em;
}
